
<!--organisation summary-->
<div data-ng-controller="organisation_controller as org"
	data-ng-init="get_org_details()">
	<div class="container-fluid">
		<section class="content-header">
			<h1>
				Organisational Details <small>Biometric Attendance System</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-dashboard"></i>Home</a></li>
				<li class="active">Organisation details</li>
			</ol>
		</section>
		<br />
		<div class="container-fluid box">
			<div class="panel with-nav-tabs panel">
				<div class="panel-heading">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#org_tab1" data-toggle="tab">Organisation
								Details</a></li>
						<li><a href="#org_tab2" data-toggle="tab">Update
								Organisation Details</a></li>
					</ul>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<!--Organisation details-->
						<div class="tab-pane fade in active" id="org_tab1">
							<table
								class="table table-hover table-no-more table-responsive table-bordered table-striped"
								style="border: 1px solid black;">
								<tr>
									<td><strong> Organisation Name</strong></td>
									<td>{{org_name}}</td>
								</tr>
								<tr>
									<td><strong> Location</strong></td>
									<td>{{location}}</td>
								</tr>
								<tr>
									<td><strong> Number Of Schools</strong></td>
									<td>{{numberOfsites}}</td>
								</tr>
							</table>
						</div>
						<!--/Organisation details-->
						<!--Add Organisation details-->
						<div class="tab-pane fade" id="org_tab2">
							<div class="container-fluid" data-ng-show="update_org">
								<div class="panel panel-info">
									<div style="padding-top: 30px" class="panel-body">
										<form id="organisational_details"
											name="organisational_details" class="form-horizontal"
											role="form">

											<label for="org_name">Organisation Name</label>
											<div style="margin-bottom: 25px" class="input-group">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-home"></i></span> <input id="org_name"
													data-ng-model="org_name" type="text" class="form-control"
													data-ng-class="{'has-error':organisational_details.org_name.$invalid && !organisational_details.org_name.$pristine}"
													name="org_name" value="{{org.org_name}}"
													placeholder="Organisation Name">
											</div>
											<label for="location">Location</label>

											<div style="margin-bottom: 25px" class="input-group">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-map-marker"></i></span> <input
													id="location" type="text" data-ng-model="location"
													class="form-control" name="location"
													data-ng-class="{'has-error':organisational_details.location.$invalid && !organisational_details.location.$pristine}"
													value="{{org.location}}" placeholder="Location">
											</div>	
												<label for="numberOfsites">Number Of Sites</label>
											<div style="margin-bottom: 25px" class="input-group">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-info-sign"></i></span> <input
													id="numberOfsites" type="text"
													data-ng-model="numberOfsites" class="form-control"
													data-ng-class="{'has-error':organisational_details.numberOfsites.$invalid && !organisational_details.numberOfsites.$pristine}"
													name="numberOfsites" value="{{org.numberOfsites}}"
													placeholder="Number Of Sites" data-ng-disabled="true">
											</div>									
											<div style="margin-top: 10px" class="form-group">
												<!-- Button -->
												<div class="col-sm-12 centered">
													<a href="" ng-click="update_org_details()"
														data-ng-disabled="organisational_details.$invalid"
														class="btn btn-primary">Update Organisation</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/organisation summary-->