
<!-- shift-->

<div data-ng-controller="shift_controller"
	data-ng-init="get_shift_data()">
	<div class="container-fluid">
		<section class="content-header">
			<h1>
				Shift Details <small>Biometric Attendance System</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-dashboard"></i>Home</a></li>
				<li class="active">Shift details</li>
			</ol>
		</section>
		<br />
		<div class="container-fluid box">
			<div class="panel with-nav-tabs panel">
				<div class="panel-heading">
					<ul class="nav nav-tabs nav-justified">
						<li class="active"><a href="#shift_tab1" data-toggle="tab">Shift
								Details</a></li>
						<li><a href="#shift_tab2" data-toggle="tab">Add Shifts</a></li>

						<li><a href="#shift_tab3" data-toggle="tab">Manage Shifts</a></li>
					</ul>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<!--Shifts details-->
						<div class="tab-pane fade in active" id="shift_tab1">
							<div data-ng-show="show_shift">
								<div
									class="input-group has-feedback has-feedback-left col-md-offset-10">
									<input type="text" class="form-control"
										placeholder="Type (eg, Shift Name)"
										data-ng-model="searchshift" /> <span
										class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
								<br />
								<table
									class="table table-hover table-no-more table-responsive table-bordered table-striped">
									<thead>
										<tr>
											<th><a href=""
												data-ng-click="orderByField='S_no';reverse = !reverse">S.no.</a>

											</th>
											<th><a href=""
												data-ng-click="orderByField='site';reverse = !reverse">Site</a>

											</th>
											<th><a href=""
												data-ng-click="orderByField='name';reverse = !reverse">Shift
													Name</a></th>
											<th><a href=""
												data-ng-click="orderByField='time_from';reverse = !reverse">Time
													From (Hours:Minutes)</a></th>
											<th><a href=""
												data-ng-click="orderByField='time_to';reverse = !reverse">Time
													To (Hours:Minutes)</a></th>
											<th><a href=""
												data-ng-click="orderByField='number_of_shifts';reverse = !reverse">Employees</a>


											</th>

										</tr>
									</thead>
									<tbody
										data-ng-repeat="shift in shifts | filter:searchshift | orderBy:orderByField:reverseSort">
										<tr>
											<td>{{$index+1}}</td>
											<td>{{shift.siteName}}</td>
											<td>{{shift.name}}</td>
											<td>{{shift.time_from}}</td>
											<td>{{shift.time_to}}</td>
											<td><a href=""
												data-ng-click="see_details_of_shift(shift)"
												class="btn btn-info btn-sm">Details</a></td>
										</tr>
									</tbody>
								</table>
								<br>

								<ul class="pagination" ng-show="shifts.length > 0">
									<li ng-class="{disabled: pagination.currentPage == 0 }"><a
										ng-class="{disabled: pagination.currentPage == 0 }"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)">&lt&lt</a>
									</li>
									<li ng-class="{disabled: pagination.currentPage == 0 }"><a
										ng-class="{disabled: pagination.currentPage == 0 }"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)">&lt</a>
									</li>

									<!-- ng-repeat creates a new scope. Need to specify the pagination.currentPage as $parent.pagination.currentPage -->
									<li ng-repeat="page in pagination.pageArray()"
										ng-class="{active: $parent.pagination.currentPage == page}"><a
										ng-click="$parent.pagination.currentPage = page">{{page +
											1}}</a></li>

									<li
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
										<a
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)">&gt</a>
									</li>
									<li
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
										<a
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)">&gt&gt</a>
									</li>
								</ul>
							</div>

							<div data-ng-show="show_emp_of_shift">
								<div>
									<a href="" data-ng-click="go_manage_show_shift()"
										class="btn btn-warning pull-left"><i class="fa fa-th">
									</i><span>Go Back</span> </a>
								</div>
								<br>

								<div
									class="input-group has-feedback has-feedback-left col-md-offset-10">
									<input type="text" class="form-control"
										placeholder="Type (eg, Name)" data-ng-model="search_emp" /> <span
										class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
								<br />
								<table
									class="table table-hover  table-bordered table-striped table-condensed table-no-more">
									<thead>
										<tr>
											<th><a href=""
												data-ng-click="orderByField='S_no';reverse = !reverse">S.no.</a>
											</th>
											<th><a href=""
												data-ng-click="orderByField='employee_id';reverse = !reverse">Employee
													ID</a></th>
											<th><a href=""
												data-ng-click="orderByField='name';reverse = !reverse">Name</a>
											</th>
											<th><a href=""
												data-ng-click="orderByField='gender';reverse = !reverse">Gender</a>
											</th>
											<th><a href=""
												data-ng-click="orderByField='site';reverse = !reverse">Site</a>
											</th>
											<th><a href=""
												data-ng-click="orderByField='shift';reverse = !reverse">Shift</a>
											</th>
											<th><a href=""
												data-ng-click="orderByField='designation';reverse = !reverse">Designation</a>
											</th>
											<th><a href=""
												data-ng-click="orderByField='mobile_number';reverse = !reverse">Mobile
													Number </a></th>
											<th><a href=""
												data-ng-click="orderByField='email';reverse = !reverse">Email</a>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="emp in employees | filter:search_emp | orderBy:orderByField:reverseSort">
											<td>{{$index+1}}</td>
											<td>{{emp.employee_id}}</td>
											<td>{{emp.name}}</td>
											<td>{{emp.gender}}</td>
											<td>{{emp.siteName}}</td>
											<td>{{emp.shiftName}}</td>
											<td>{{emp.designation}}</td>
											<td>{{emp.mobile_number}}</td>
											<td>{{emp.email}}</td>
										</tr>
									</tbody>
								</table>
								<ul class="pagination" ng-show="employees.length > 0">
									<li ng-class="{disabled: pagination.currentPage == 0 }"><a
										ng-class="{disabled: pagination.currentPage == 0 }"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)">&lt&lt</a>
									</li>
									<li ng-class="{disabled: pagination.currentPage == 0 }"><a
										ng-class="{disabled: pagination.currentPage == 0 }"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)">&lt</a>
									</li>

									<!-- ng-repeat creates a new scope. Need to specify the pagination.currentPage as $parent.pagination.currentPage -->
									<li ng-repeat="page in pagination.pageArray()"
										ng-class="{active: $parent.pagination.currentPage == page}"><a
										ng-click="$parent.pagination.currentPage = page">{{page +
											1}}</a></li>

									<li
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
										<a
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)">&gt</a>
									</li>
									<li
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
										<a
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)">&gt&gt</a>
									</li>
								</ul>

							</div>

						</div>
						<!--/Shifts details-->
						
						<!--Add Shifts details-->
						<div class="tab-pane fade" id="shift_tab2">
							<div class="panel panel-info">
								<div style="padding-top: 30px" class="panel-body">
									<form id="add_shift" name="add_shift" class="form-horizontal"
										role="form">
										<label for="shift_name">Shift Name</label>
										<div style="margin-bottom: 25px" class="input-group"
											data-ng-class="{'has-error':add_shift.shift_name.$invalid && !add_shift.shift_name.$pristine}">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-user"></i></span> <input
												id="shift_name" data-ng-model="shift_name" type="text"
												class="form-control" name="shift_name" value=""
												placeholder="Shift Name">
										</div>

										<label for="time_from">Time From (Hours:Minutes) </label>
										<div style="margin-bottom: 25px"
											class="input-group bootstrap-timepicker timepicker "
											data-ng-class="{'has-error':add_shift.time_from.$invalid && !add_shift.time_from.$pristine}">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-time"></i></span> <input id="time_from"
												type="time" class="form-control input-small"
												data-ng-model="time_from" placeholder="Time From">
										</div>
										<label for="time_to">Time To (Hours:Minutes)</label>
										<div style="margin-bottom: 25px"
											class="input-group bootstrap-timepicker timepicker "
											data-ng-class="{'has-error':add_shift.time_to.$invalid && !add_shift.time_to.$pristine}">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-time"></i></span> <input id="time_to"
												type="time" class="form-control input-small"
												data-ng-model="time_to" placeholder="Time To">
										</div>
										<label for="all_site">Select Site</label>
										<div style="margin-bottom: 25px" class="input-group"
											data-ng-class="{'has-error':add_shift.SiteManager.$invalid && !add_shift.SiteManager.$pristine}">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-gift"></i></span> <select id="all_site"
												data-ng-model="all_site_of_org" class="form-control"
												required name="all_site"
												data-ng-options="site for site in all_site track by site">
											</select>
										</div>
										<div style="margin-top: 10px" class="form-group">
											<!-- Button -->
											<div class="col-sm-12 controls centered">
												<button type="submit" class="btn btn-primary"
													data-ng-click="addshift()"
													data-ng-disabled="add_shift.$invalid">Add Shift</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- /Add Shifts details-->
						<!--Manage Shifts details -->
						<div class="tab-pane fade" id="shift_tab3">
							<div data-ng-show="show_update">
								<div class="container-fluid">
									<div>
										<a href="" data-ng-click="go_manage()"
											class="btn btn-warning pull-right"><i class="fa fa-th">
										</i><span>Go Back</span> </a>
									</div>
								</div>
								<br />
								<div class="panel panel-info">
									<div style="padding-top: 30px" class="panel-body">
										<form id="update_shift" name="update_shift"
											class="form-horizontal" role="form">
											<label for="u_shift_name">Shift Name</label>
											<div style="margin-bottom: 25px" class="input-group"
												data-ng-class="{'has-error':update_shift.u_shift_name.$invalid && !update_shift.u_shift_name.$pristine}">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-user"></i></span> <input
													id="u_shift_name" data-ng-model="u_shift_name"
													value="{{u_shift_name}}" strToTime="" type="text"
													class="form-control" name="shift_name" value=""
													placeholder="Shift Name">
											</div>

											<label for="u_time_from">Time From (Hours:Minutes)</label>
											<div style="margin-bottom: 25px"
												class="input-group bootstrap-timepicker timepicker "
												data-ng-class="{'has-error':update_shift.u_time_from.$invalid && !update_shift.u_time_from.$pristine}">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-time"></i></span> <input
													id="u_time_from" type="time"
													class="form-control input-small" strToTime=""
													data-ng-model="u_time_from" data-ng-disabled="true"
													placeholder="Time From">
											</div>
											<label for="u_time_to">Time To (Hours:Minutes)</label>
											<div style="margin-bottom: 25px"
												class="input-group bootstrap-timepicker timepicker "
												data-ng-class="{'has-error':update_shift.u_time_to.$invalid && !update_shift.u_time_to.$pristine}">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-time"></i></span> <input id="u_time_to"
													type="time" class="form-control input-small" strToTime=""
													data-ng-model="u_time_to" data-ng-disabled="true"
													placeholder="Time To">
											</div>

											<div style="margin-top: 10px" class="form-group">
												<!-- Button -->
												<div class="col-sm-12 controls centered">
													<button type="submit" class="btn btn-primary"
														data-ng-click="updateshift()"
														data-ng-disabled="update_shift.$invalid">Update
														Shift</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div data-ng-show="show_manage">

								<div
									class="input-group has-feedback has-feedback-left col-md-offset-10">
									<input type="text" class="form-control"
										placeholder="Type (eg, Shift Name)"
										data-ng-model="search_shift" /> <span
										class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
								<br />
								<table
									class="table table-hover table-no-more table-responsive table-bordered table-striped">
									<thead>
										<tr>
											<th><a href=""
												data-ng-click="orderByField='S_no';reverse = !reverse">S.no.</a>

											</th>
											<th><a href=""
												data-ng-click="orderByField='site';reverse = !reverse">Site</a>

											</th>
											<th><a href=""
												data-ng-click="orderByField='name';reverse = !reverse">Shift
													Name</a></th>
											<th><a href=""
												data-ng-click="orderByField='time_from';reverse = !reverse">Time
													From (Hours:Minutes)</a></th>
											<th><a href=""
												data-ng-click="orderByField='time_to';reverse = !reverse">Time
													To (Hours:Minutes)</a></th>
											<th><a href=""
												data-ng-click="orderByField='manage';reverse = !reverse">Manage</a>

											</th>

										</tr>
									</thead>
									<tbody
										data-ng-repeat="shift in shifts | filter:search_shift | orderBy:orderByField:reverseSort">
										<tr>
											<td>{{$index+1}}</td>
											<td>{{shift.siteName}}</td>
											<td>{{shift.name}}</td>
											<td>{{shift.time_from}}</td>
											<td>{{shift.time_to}}</td>

											<td><a href=""
												data-ng-click="delete_shift($index,shift.websafeKey)"
												class="btn btn-danger"><span class="fa fa-trash-o">
												</span></a> <a href="" data-ng-click="manageshift(shift)"
												class="btn btn-info"><span
													class="glyphicon glyphicon-edit"> </span></a></td>
										</tr>
									</tbody>
								</table>
								<br>
								<ul class="pagination" ng-show="shifts.length > 0">
									<li ng-class="{disabled: pagination.currentPage == 0 }"><a
										ng-class="{disabled: pagination.currentPage == 0 }"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)">&lt&lt</a>
									</li>
									<li ng-class="{disabled: pagination.currentPage == 0 }"><a
										ng-class="{disabled: pagination.currentPage == 0 }"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)">&lt</a>
									</li>

									<!-- ng-repeat creates a new scope. Need to specify the pagination.currentPage as $parent.pagination.currentPage -->
									<li ng-repeat="page in pagination.pageArray()"
										ng-class="{active: $parent.pagination.currentPage == page}"><a
										ng-click="$parent.pagination.currentPage = page">{{page +
											1}}</a></li>

									<li
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
										<a
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)">&gt</a>
									</li>
									<li
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
										<a
										ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
										ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)">&gt&gt</a>
									</li>
								</ul>
							</div>


						</div>
					</div>
					<!--/Manage Shifts details -->
				</div>
			</div>
		</div>
	</div>
</div>


<!-- /shift
        -->